mat-card,
.mat-card {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;

	.mat-card-header {

		.mat-card-title {
			font-size: 13px;
			font-weight: 500;
		}

		.mat-card-subtitle {
			font-size: 12px;
		}
	
		.mat-card-header-text {
			margin: 0;
		}

	}

	.mat-card-content {
		display: flex;
		flex: 1;

		p {
			font-size: 13px;
		}
	}
	
	mat-card-actions {
		margin-top: 50px;
		
		button,
		.mat-button {
			font-size: 14px;
			font-weight: 400;
		}
	}
}